<p id="notice"><%= notice %></p>

<h1>Premium Jobs</h1>

<%= render partial: 'job', collection: @jobs, cached: true %>
<!-- <%= render @jobs %> -->

<%= will_paginate @jobs%>

<br>

<%= link_to 'New Job', new_job_path %><br/>

<%= link_to 'Todos os Jobs', jobs_path %>